
header{
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  display:grid;
  background-color: #eee;
  grid-template-columns: repeat(8, 1fr);
}
/* sets the header size and grids to place the different elements (logo and top nav bar)*/

header > img{
  height:5em;
  grid-column:1; 
  align-self: center;
  justify-self: center;
}

header > h1{
  font-size: 1.75em;
  font-weight: 10;
  justify-self: center;
  align-self: center;
  color:#7D8E71;
}

#products {
  grid-column: 6;
}
/* sets the elements within the header into their places, and aesthetic*/

.main_image{
  width:100%;
  height:auto;
}
/* sets main image to be responsive depending on the size of the window */

nav{
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eee;
  display:flex;
  justify-content: end;
  align-self: center;
}

.icons{
  height:50px;
  align-self: center;
}

.new_arrivals_container{
  height: 30em;
  background-color: #eee;
  display:grid;
  grid-template-columns: 30% 20% 50%;
}
#new_arrivals_image{
  height: 30em;
  width:30em;
  object-fit: fill;
}
.new_arrivals_title{
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}
.new_arrivals_text{
  grid-column: 2;
  grid-row:1;
  justify-self:end;
  align-self: center;
}
#New_arrivals_products{
  height:20em;
  width:20em;
}
.product_overflow_container{
  grid-column: 3;
  display: grid;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  width: 100%;
  overflow-x: auto;
}
.new_arrivals_products{
  grid-row: 1;
  grid-column: auto;
  align-self:center;
  padding:1em;
}

.New_arrivals > h2{
font-size: 24px;
font-weight: 10;
color:#7D8E71;
}

p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color:#4F5047
}


.product_rooms_flex{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:2em;
  gap: 1em;
}
#room_choice{
  width:15em;
  height:15em;
}
.room_container{
  width: 15em;
  height: 15em;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer{
  background-color: white;
  opacity: 0.8;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  transition: all 0.9s ease;
  transform: scale(0);
}

.room_container:hover .layer{
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  transform: scale(1);
}
.layer > p{
  transform: scale(0);
  transition: all 0.9s ease;
}
  
.room_container:hover .layer > p {
  transform: scale(1);
  transition: all 0.9s ease;
}               