html{
    background-color: #EAEAEA;
}
header{
    height:7vw;
    display:grid;
    grid-template-columns: 5% 5% 73% repeat(4,4%);
}
.icons{
    height:3vw;
    padding: 2em;
}
#query{
    justify-self: end;
}
#wishlist{
    justify-self: end;
}
#cart{
    justify-self: end;
}
#profile{
    justify-self: end;
}
/*header, for navigation*/
.main_grid_container{
    height: 80vw;
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 2em;
    margin-right:2em;
}
.image_grid_container{
    height:80vw;
    grid-column: 1;
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr 2fr 2fr;
}
/*Contains the grids for the pictures and also the grids for the information, separating them further into two containers*/
#main_image{
    height:24vw;
    width:24vw;
}
.main_image_1{
    grid-column: 1;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}
.main_image_2{
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    align-self: center;
}
.main_image_3{
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
    align-self: center;
}
#side_image{
    height:10.5vw;
    width:10.5vw
}
.side_image_1{
    align-self: center;
}
.side_image_2{
    align-self: start;
}
/*Sets the images into its grid containers and into position, separating them from the information column*/

.info_grid_container{
    height:80vw;
    grid-column: 2;
    grid-template-columns: auto;
    grid-template-rows: 20% 10% 10% 40% 10% 10%;
}
.product_name{
    grid-row:1;
}
h1{
    font-size: 5vw;
    font-weight: 100;
    color: #7D8E71;
}
.product_price{
    grid-row: 2;
    align-self: top;
}
h2{
    font-size: 3vw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: #7D8E71;
}
.subheader_desc{
    grid-row:3;
}
h3{
    font-size: 3vw;
    font-weight: 100;
    color: #7D8E71;
}
.product_description{
    grid-row:4;
}
.product_description > p{
    font-size: 1.15vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5vw;
    font-weight: 100;
    padding-left: 4em;
    padding-right: 4em;
    text-align: justify;
}
.subheaders_dmn{
    grid-row:5;
}
.product_dimensions{
    grid-row: 6;
    align-items: top;
}
.product_dimensions > p{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-left: 1em;
}
/*information is displayed in this container*/

.style_ratings_cart_container{
    height:15em;
    position:static;
    display:grid;
    grid-template-columns:  repeat(5,1fr) 5fr 5fr ;
    grid-template-rows: repeat(3,1fr);
}
.product_style{
    grid-column: 1/6;
    grid-row: 1;
    justify-self: center;
}
h4{
    font-size: 2vw;
    font-weight: 100;
    color: #7D8E71;
}
.product_style_desc_1{
    grid-column:2;
    grid-row:3;
    white-space: nowrap;
    justify-self: center;
}
.product_style_desc_2{
    grid-column:4;
    grid-row:3;
    justify-self: center;
}
.style_option_1{
    width: 7em;
    height: 3em;
    background-color: brown;
    border-radius: 2em;
    grid-column:2;
    grid-row:2;
    justify-self: center; 
    align-self: center;
}
.style_option_2{
    width: 7em;
    height: 3em;
    background-color: black;
    border-radius: 2em;
    grid-column:4;
    grid-row:2;
    justify-self: center; 
    align-self: center;
}
.review_title{
    grid-column:6;
    grid-row:1;
    justify-self: center;
}
.review{
    grid-column:6;
    grid-row:2;
    justify-self: center;
}
.review > p{
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.see_more_button{
    grid-column:6;
    grid-row:3;
    justify-self: center; 
}
#see_more_button{
    text-decoration: none;
}
.buttons{
    grid-column:7;
    grid-row:2;
    justify-self: center; 
}
.wishlist_button{
    width: 10em;
    height: 3em;
    background-color: #B6B99E;
    color: black;
    border-radius: 2em;
    font-size: 1vw;
    grid-column:7;
    grid-row:3;
    justify-self: center; 
}
.cart_button{
    width: 12em;
    height: 3em;
    background-color: #6E794D;
    color: white;
    font-size: 2vw;
    border-radius: 3em;
    grid-column: 7;
    grid-row: 2;
    justify-self:center;
}
.recommended_products_container{
    height:20em;
    display:grid;
    grid-template-rows: 20% 80%;
}
#recommended_products_image{
    height:15em;
}
.recommended_products_title{
    grid-row:1;
    grid-column: 1;
    padding-left:2em;
}
.recommended_products_flex{
    grid-row:2;
    padding-top: 2em;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.recommended_products_image{
    width: 15em;
    height: 15em;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .layer{
    background-color: #6E794D;
    opacity: 0.8;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    transition: all 0.9s ease;
    transform: scale(0);
  }
  .recommended_products_image:hover .layer{
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;
    transform: scale(1);
  }
  .layer > p{
    color: white;
    transform: scale(0);
    transition: all 0.9s ease;
  }
  .recommended_products_image:hover .layer > p {
    transform: scale(1);
    transition: all 0.9s ease;
  }                 