header{
    height:100px;
    background-color: #eee;
    display:grid;
    grid-template-columns: 35% 10% 10% 10% 35%;
}

header > h1{
    font-size: 20px;
    font-weight: 10;
    justify-self: center;
    align-self: center;
}

#products {
    display:grid;
    grid-column:2;
}

/* similar to the home page, setting the header grid layout and the header nav bar to its middle positon */

.main_image{
    width:100%;
    height:auto;
}

nav {
    display:grid;
    height:100px;
    background-color: #eee;
    grid-template-columns: 5% 5% 70% 5% 5% 5% 5%;
}

.icons{
    height: 40px;
    padding: 30px;
}

.page_title{
    font-size: 24px;
    font-weight: 20;
    grid-column: 3;
    justify-self: center;
    align-self: center;
}

.product_types_flex{
    height: 20em;
    padding:1em;
    gap:2em;
    background-color: red;   
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.product_types{
    height: 20em;
    width: 20em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.product_types_container{
    width: 20em;
    height: 15em;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.layer{
    background-color: white;
    opacity: 0.8;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    transition: all 0.9s ease;
    transform: scale(0);
}
.product_types_container:hover .layer{
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;
    transform: scale(1);
}
.layer > p{
    transform: scale(1);
    transition: all 0.9s ease;
}

.room_container:hover .layer > p {
    transform: scale(1);
    transition: all 0.9s ease;
}               