header{
    height:100px;
    background-color: #eee;
    display:grid;
    grid-template-columns: 5% 5% 73% repeat(3,4%);
}
.icons{
    height:50px;
    padding: 25px;
}
#query{
    justify-self: end;
}
#wishlist{
    justify-self: end;
}
#cart{
    justify-self: end;
}
#profile{
    justify-self: end;
}

.main_body_container{
    width:100%;
    height:70em;
    padding-left:7%;
    padding-right:7%;
    padding-top:5%;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color: aqua;
}

#main_image{
    height:18em;
}
.main_image_1{
    grid-column: 1/3;
    grid-row: 1/3
}
.main_image_2{
    grid-column: 1/3;
    grid-row: 3/5;
}
.main_image_3{
    grid-column: 1/3;
    grid-row: 5/7;
}

#side_image{
    height:7em;
}
.side_image_1{
    grid-column:3;
    grid-row:1;
}
.side_image_2{
    grid-column:3;
    grid-row:2;
}

.product_name{
    grid-column:4/7;
    grid-row: 1;
}
.product_price{
    grid-column:4;
    grid-row: 2;
}
.subheader_desc{
    grid-column:4;
    grid-row: 3;
}
.product_description{
    grid-column:4/6;
    grid-row: 4;
}
.subheader_dmn{
    grid-column:4;
    grid-row: 5;
}
.product_dimensions{
    grid-column:4;
    grid-row: 6;
}

.style_ratings_cart_container{
    height:25em;
    position:static;
    background-color: red;
    grid-template-columns:  repeat(5,1fr) 5fr 5fr ;
    grid-template-rows: repeat(3,1fr);
}




