a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
/*Allows the product name link not have underlined beneath them*/
html{
    background-color: #EAEAEA;
    
}
header{
    height:5vw;
    display:grid;
    grid-template-columns: 5% 83% repeat(3,4%);
}

.icons{
    height:3vw;
    padding:1em;
    justify-self: end;
}
#query{
    justify-self: end;
}
#wishlist{
    justify-self: end;
}
#cart{
    justify-self: end;
}
#profile{
    justify-self: end;
}

/*Header set into place, responsive */

.options_container{
    display:grid;
    grid-template-columns: 10% 80% 10%;
}
#navigation{
    padding-left:2em;
    padding-bottom:2em;
}
.options_container > h1{
    font-size: 3vw;
    font-weight: 20;
    justify-self: center;
    align-self: center;
}

.main_grid_container{
    display:grid;
    grid-template-columns: 20% 80%;
    height:auto;
    width:auto;
}
.sidebar_container{
    grid-column: 1;
    height:auto;

}
.main_flex_container{
    display:flex;
    flex-wrap:wrap;

    grid-column: 2;
    height:auto;
    gap: 1em;
    padding: 2em;
}

h1{
    font-size: 2.5vw;
    font-weight: 20;
    font-family: 'Nuosu SIL', serif;
    color:#6E794D;
}
h2{
    font-size:2vw;
    font-weight:10;
    font-family: 'Nuosu SIL', serif;
    color:#6E794D;
    text-decoration: none;
}
p{
    font-size:1.5vw;
    font-weight:10;
    font-family: 'Montserrat', sans-serif;
}

.product_container{
    height:23vw;
    width:23vw;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    position:relative;
}
#main_image{
    height:12vw;
    width:13vw;
    object-fit: cover;
}
.main_image_container{
    grid-column:span 2;
    grid-row: span 3;
    justify-self: center;
    align-self:center;
}

#side_image{
    height:5vw;
    justify-self:start;
    align-self:center;
}
.side_image_1{
    grid-column:3;
}
.product_name{
    grid-column: 1;
    grid-row: 4;
    align-self: start;
    position: absolute;
}
.product_price{
    grid-column: 1;
    grid-row: 5;
    position:absolute;
    align-self: center;
}
.product_price > p{
    font-size: 3vw;
}
