html{
    background-color: #EAEAEA;
}
header{
    height:5vw;
    display:grid;
    grid-template-columns: 35% 10% 10% 10% 35%;
}

header > h1{
    font-size: 1.5vw;
    font-weight: 10;
    color: #7D8E71;
    justify-self: center;
    align-self: center;
}

#products {
    display:grid;
    grid-column:2;
}

/* similar to the home page, setting the header grid layout and the header nav bar to its middle positon */

.main_image{
    width:100%;
    height:auto;
}
nav {
    display:grid;
    height:3em;
    grid-template-columns: 5% 5% 70% 5% 5% 5% 5%;
}
.icons{
    height: 2.5vw;
}
#page_title{
    font-size: 3vw;
    font-weight: 20;
}
.page_title{
    grid-column: 3;
    color: #6E794D;
    position:absolute;
    justify-self: center;
    align-self: center;
}

/*nav bar and icon sizes are set to be responsive, simple 2d grid without rows are used to maintain element positions, could be done with
flex but is much harder to be precise as opposed to the grid structure*/
.product_types_flex{
    height: 20em;
    padding:1em;
    gap:2em;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.product_types{
    height: 20em;
    width: 20em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.product_types_container{
    width: 20em;
    height: 15em;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
p{
    font-size: 2vw;
    color: white;
}
.layer{
    background-color: #6E794D;
    opacity: 0.8;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    transition: all 0.9s ease;
    transform: scale(0);
}
.product_types_container:hover .layer{
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;
    transform: scale(1);
}
.layer > p{
    transform: scale(1);
    transition: all 0.9s ease;
}

.room_container:hover .layer > p {
    transform: scale(1);
    transition: all 0.9s ease;
}               

/*Sets the product types into place and animates them so that mouse hovers bring up its titles.*/