html{
    background-color: #EAEAEA;
}
header{
    height:7vw;
    display:grid;
    grid-template-columns: 5% 5% 73% repeat(4,4%);
}
.icons{
    height:3vw;
    padding: 25px;
}
#query{
    justify-self: end;
}
#wishlist{
    justify-self: end;
}
#cart{
    justify-self: end;
}
#profile{
    justify-self: end;
}
.page_title{
    justify-self: center;
    align-self: center;
    font-size: 3vw;
    font-weight: 10;
    color: #6E794D;
}
/*header stops here, adjusted to become smaller when the page is rendered on a smaller screen size*/

body{
    margin-left:5em;
    margin-right:5em;
}
.cart_overflow_container{
    display: grid;
    grid-auto-columns: max-content;
    grid-template-rows: 1fr;
    width: 100%;
    overflow-x: auto;
}
/*overflow-x allows for the elements to go past the container without being shown (horizontal scrolling)*/
#cart_product_image{
    height:15vw;
}
.cart_product_container{
    height:18vw;
    width:auto;
    height:auto;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4,1fr);
    padding:3em;
    grid-row: 1;
    grid-column: auto;
    align-self:center;
    padding:1em;
}
.options_button_1{
    height:2em;
    width:10em;
    background-color: #7E6251;
    color: #EAEAEA;
    border-radius: 2em;
    grid-column:2;
    grid-row: 4;
    margin-left:2em;
    font-family: 'Montserrat', sans-serif;
}
.options_button_2{
    height:2em;
    width:10em;
    background-color: #7E6251;
    color:#EAEAEA;
    border-radius: 2em;
    grid-column:2;
    grid-row: 4;
    margin-left:2em;
    font-family: 'Montserrat', sans-serif;
}
#cart_product_image{
    grid-column: 1;
    grid-row: 1/4;
}
.cart_product_title{
    font-size:2vw;
    grid-column:2;
    grid-row: 1;
    padding-left:1em;
    font-family: 'Nuosu SIL', serif;
    color:#6E794D;
}
.cart_product_price{
    font-size:2vw;
    font-weight: 10;
    grid-column:2;
    grid-row: 2;
    padding-left:1em;
    font-family: 'Montserrat', sans-serif;
}
#quantity_1{
    height:2em;
    width:3em;
    grid-column:2;
    grid-row: 3;
    justify-self: end;
    padding-right:2em
}
#quantity_2{
    height:2em;
    width:3em;
    grid-column:2;
    grid-row: 3;
    justify-self: end;
    padding-right:2em
}
label{
    font-size:1vw;
    grid-column:2;
    grid-row: 3;
    justify-self:end;
    align-self:center;
    padding-right:0.5em;
    padding-top:0.5em;
    font-family: 'Montserrat', sans-serif;
}
/*Up to this point the cart is responsive to size, even until the smallest setting. However needs some tweaking to be perfect in responsiveness*/

.bill_grid_container{
    display:grid;
    height:20em;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
}
.bill_grid_container > p {
    font-size:2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #6E794D;
    font-family: 'Montserrat', sans-serif;
}
.bill_subtotal{
    grid-column:1;
    grid-row:1;
    justify-self:end;
}
.bill_value_subtotal{
    grid-column:3;
    grid-row:1;
    justify-self:start;
    align-self: center;
}
.bill_tax{
    grid-column:1;
    grid-row:2;
    justify-self:end;
}
.bill_value_tax{
    grid-column:3;
    grid-row:2;
    justify-self:start;
}
.bill_total{
    grid-column:1;
    grid-row:3;
    justify-self:end;
}
.bill_value_total{
    grid-column:3;
    grid-row:3;
    justify-self:start;
}
.checkout_button{
    width: 30vw;
    height: 5vw;
    background-color: #6E794D;
    color:white;
    font-size:2vw;
    border-radius: 0.75em;
    grid-column:2;
    grid-row:4;
    justify-self:center;
    font-family: 'Montserrat', sans-serif;
}

.recommended_products_container{
    height:20vw;
    display:grid;
    grid-template-rows: 20% 80%;
    padding-top: 2em;
}
#recommended_products_image{
    height:15vw;
}
.recommended_products_title{
    font-size:2vw;
    justify-self: start;
    align-self:top;
    grid-row:1;
    padding-left:2em;
    color: #6E794D;

}
.recommended_products_flex{
    grid-row:2;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.recommended_products_image{
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
  }
  .layer{
    background-color: white;
    opacity: 0.8;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    transition: all 0.9s ease;
    transform: scale(0);
  }
  .recommended_products_image:hover .layer{
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;
    transform: scale(1);
    background-color: #6E794D;;
  }
  .layer > p{
    transform: scale(0);
    transition: all 0.9s ease;
    color: white;
  }
  .recommended_products_image:hover .layer > p {
    transform: scale(1);
    transition: all 0.9s ease;
  }                 